<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>241445387434-phlhpgou2c8cituud47e4plbl2eh3vt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241445387434-phlhpgou2c8cituud47e4plbl2eh3vt4</string>
	<key>API_KEY</key>
	<string>AIzaSyB1w1S0xolyiCcGqr8ECIVl-XqXHvQkSPw</string>
	<key>GCM_SENDER_ID</key>
	<string>241445387434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdecal.TestAcer77</string>
	<key>PROJECT_ID</key>
	<string>testacer-d7b8a</string>
	<key>STORAGE_BUCKET</key>
	<string>testacer-d7b8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:241445387434:ios:3730437394634094</string>
	<key>DATABASE_URL</key>
	<string>https://testacer-d7b8a.firebaseio.com</string>
</dict>
</plist>